.menu-screen {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $app-primary-color;
	color: $app-text-color;
	z-index: 1;
}

.menu-screen__header {
	width: 100%;
	height: 8%;
	min-height: 6rem;
	padding: 1rem;
	margin-bottom: 0.3rem;
	box-shadow: 0 1px 2px $app-text-color;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-screen__button {
	height: 100%;
	padding: 1rem 2rem;

	@include menu__button;
}

.menu__close-button {
	@include close-button;
}

.menu-screen__main {
	width: 100%;
	max-height: 92%;
	padding: 2rem 1rem;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 0.5rem;
	}
	&::-webkit-scrollbar-track {
		background: $app-primary-color;
	}
	&::-webkit-scrollbar-thumb {
		background: $app-light-color;
	}
}

.menu__category-block {
	width: 100%;
	height: fit-content;
	margin: 0 auto;
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	background-color: $app-light-color;
}

.menu__controls-block {
	width: 100%;
}

.menu__category-block {
	margin: 1rem 0;
	cursor: pointer;
}

.menu__category-heading {
	width: 60%;
	padding: 2rem;
	margin: 0;
	font-size: 2.4rem;
}

.category__dishes {
	display: none;
	padding: 0 2rem 2rem;
}

.visible .category__dishes {
	display: block;
}

.category__dish {
	border-top: 1px solid $app-text-color;
	display: flex;
	justify-content: space-between;

	p:nth-child(1) {
		font-size: 2rem;
	}
}

.menu__controls,
.dish__controls-block {
	width: 18%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__controls {
	width: 40%;
	margin-right: 2rem;
}

.menu__controls-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.category__control-button,
.dish__control-button {
	width: 44%;
	padding: 1rem 0;

	@include menu__button;
}
